@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "BP & BMI Calculator";
}

<h4>BP & BMI Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Blood Pressure Inputs -->
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control" />
                <span asp-validation-for="BP.Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" />
                <span asp-validation-for="BP.Diastolic" class="text-danger"></span>
            </div>

            <!-- BMI Inputs -->
            <div class="form-group">
                <label asp-for="BP.HeightCm" class="control-label"></label>
                <input asp-for="BP.HeightCm" class="form-control" />
                <span asp-validation-for="BP.HeightCm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.WeightKg" class="control-label"></label>
                <input asp-for="BP.WeightKg" class="form-control" />
                <span asp-validation-for="BP.WeightKg" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

            <!-- Results -->
            @if (ViewData.ModelState.IsValid)
            {
                <div class="form-group">
                    <p>Blood Pressure Category: @Model.BP.Category</p>
                    <p>BMI: @Model.BP.BMI (@Model.BP.BMICategory)</p>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
